# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  deploy-website:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10

    steps:
      - checkout
      - run:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email "adactiveDev@users.noreply.github.com"
            git config --global user.name "Adactive SAS"
            echo "machine github.com login adactiveDev password $GITHUB_TOKEN" > ~/.netrc
            cd website && yarn install && GIT_USER=adactiveDev yarn run publish-gh-pages

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
          filters:
            branches:
              only:
                - master
